<h2>Historial de productos</h2>

<% if(getAll.length > 0){%>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color:yellow ;">
                <th>title</th>
                <th>price</th>
            </tr>
            <% for(const prod of getAll){%>
                <tr>
                    <td><%=prod.title%></td>
                    <td><%=prod.price%></td>
                </tr>
            <%}%>
        </table>
    </div>
<%}else{%>
    <h3>No hay productos </h3>
<%}%>



